# Dependencies
node_modules
.pnp
.pnp.*

# Testing
coverage
junit

# Next.js
.next
out
.vercel

# Turbo
.turbo

# Env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
